PyYAML==6.0.3
SQLAlchemy==2.0.52
annotated-types==0.8.0
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
ddt==1.7.2
duckdb==1.5.5
focus_validator==2.2.1
graphviz==0.21
greenlet==3.5.5
idna==3.19
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
multimethod==2.0.2
mypy_extensions==1.1.0
numpy==1.26.4
packaging==26.3
pandas==2.3.3
pandasql==0.7.3
pandera==0.26.1
pip==25.0.1
polars-runtime-32==1.44.1
polars==1.44.1
pyarrow==25.0.1
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
sqlglot==27.29.0
tabulate==0.10.0
typeguard==4.6.0
typing-inspect==0.9.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
